link(rel="stylesheet",type="text/css",href='/frontend/assets/templates/css/soscredit.vendor.min.css?v=#{$scriptsVersion}')
link(rel="stylesheet",type="text/css",href='/frontend/assets/templates/css/soscredit.min.css?v=#{$scriptsVersion}')