// PLEASE DO NOT ADD ANYTHING HERE IF YOU DONT REALLY KNOW IF THIS NEEDED
// USE js.jade FILE INSTEAD
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

script.
  window.soscredit = window.soscredit || {};
  window.soscredit.config = window.soscredit.config || {};
  window.soscredit.config.api = window.soscredit.config.api || {};
  window.soscredit.config.api.v2 = window.soscredit.config.api.v2 || {};